---
import Datetime from "./Datetime.astro";

interface Props {
  title: string;
  pubDatetime: Date;
  modDatetime: Date | null | undefined;
  description: string;
  href: string;
  secHeading?: boolean;
}

const { title, pubDatetime, modDatetime, description, href, secHeading } =
  Astro.props;
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2 class="text-lg font-medium decoration-dashed hover:underline">
          {title}
        </h2>
      ) : (
        <h3 class="text-lg font-medium decoration-dashed hover:underline">
          {title}
        </h3>
      )
    }
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>
